@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --base-dark: #000;
  --base-white: #fff;
  --btn-green: #07af91;
  --btn-green-active: linear-gradient(
    rgba(7, 175, 145, 0.5),
    rgba(7, 175, 145, 0.5)
  );
  --highlight-green: #07af91;
  --btn-blue: linear-gradient(#016ca8, #61b5e4);
  --btn-blue-video: #4c8ef0;
  --h2-h3-color: #1178b2;
  --btn-active-color: #1178b2;
  --h1-color: #fff;
  --bg-partners-color: linear-gradient(#1973fa, #75acfd);

  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --120-fz: clamp(4.563rem, 3.975rem + 2.94vw, 7.5rem); /* 120 --> 75 */
  --80-fz: clamp(3.875rem, 3.65rem + 1.13vw, 5rem); /* 80 --> 64 */
  --48-fz: clamp(1.375rem, 1.05rem + 1.63vw, 3rem); /* 48 --> 24 */
  --43-fz: clamp(1.375rem, 1.113rem + 1.31vw, 2.688rem); /* 43 --> 24 */
  --40-fz: clamp(1.375rem, 1.15rem + 1.13vw, 2.5rem); /* 40 --> 24 */
  --36-fz: clamp(1.375rem, 1.2rem + 0.88vw, 2.25rem); /* 36 --> 24 */
  --34-fz: clamp(0.875rem, 0.625rem + 1.25vw, 2.125rem); /* 34 --> 16 */
  --32-fz: clamp(1.375rem, 1.25rem + 0.63vw, 2rem); /* 32 --> 24 */
  --24-fz: clamp(0.875rem, 0.75rem + 0.63vw, 1.5rem); /* 24 --> 16 */
  --20-fz: clamp(0.875rem, 0.8rem + 0.38vw, 1.25rem); /* 20 --> 16 */
  --18-fz: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem); /* 18 --> 16 */
  --16-fz: clamp(0.625rem, 0.55rem + 0.38vw, 1rem); /* 16 --> 12 */
  --14-fz: 14px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
button {
  border: none;
  border-radius: 10px;
  color: var(--base-white);
  text-wrap: nowrap;
}
h2,
h3 {
  color: var(--h2-h3-color);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container {
  padding: 10px;
  max-width: calc(1920px - (352px * 2));
  margin: 0 auto;
}
.btn-blue {
  font-size: var(--20-fz);
  color: var(--base-white);
  background: var(--btn-blue);
  font-weight: var(--fw-semibold);
  cursor: pointer;
}
.btn-green {
  font-size: var(--18-fz);
  color: var(--base-white);
  background: var(--btn-green);
  font-weight: var(--fw-semibold);
  cursor: pointer;
}
.btn-modal {
  width: 40px;
  aspect-ratio: 1;
  padding: 14px 11px;
  border-radius: 10px;
  background-color: var(--base-white);
  color: red;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-section {
  height: 900px;
  padding-block: 45px 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/webp/bg.webp);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: var(--base-white);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--18-fz);
  font-weight: var(--fw-medium);
}
.header .btn-green {
  padding: 10px 45px;
}
.header .btn-green:active {
  background: var(--btn-green-active);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
.btn-block .btn-modal {
  display: none;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.modal-overlay.active {
  display: flex;
}
.modal-menu {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 40px;
  border-radius: 10px;

  text-align: center;
  background: #07af91;
}
.modal-menu .main-list {
  display: flex;
  flex-direction: column;
}
.close-modal {
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  top: 66px;
  right: 10px;
  background: var(--base-white);
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #07af91;
}
.main-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  line-height: 2;
}
.main-list a:active {
  transition: 150ms;
}
.main-section__inner {
  margin-top: 140px;
  width: min(780px, 100%);
}
.main-section h1 {
  font-size: var(--43-fz);
}
.main-section p {
  font-size: var(--34-fz);
  margin-block: 20px 34px;
}
.main-section span {
  background-color: var(--highlight-green);
  font-size: var(--43-fz);
}
.main-section__inner button {
  padding: 28px 35px;
}
.main-section__inner button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
@media (max-width: 850px) {
  .main-section {
    height: 700px;
  }
  .main-section__inner {
    padding-inline: 62px;
    text-align: center;
  }
  .header {
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }
  .main-list {
    gap: 38px;
  }
  .header .btn-green {
    padding-inline: 28px;
  }
}
@media (max-width: 560px) {
  .header {
    gap: 10px;
    justify-content: space-between;
  }
  .btn-block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header .btn-green {
    padding: 20px;
  }
  .header .main-list {
    display: none;
  }
  .btn-block .btn-modal,
  .modal-overlay .main-list {
    display: block;
  }
  .modal-menu .main-list{
    display: flex;
    gap: 20px;
  }
}

.service {
  max-width: calc(1920 - (407 + 352));
  margin-block: 90px 100px;
}
.service-container {
  max-width: calc(1920px - (352px + 407px));
}
.service h2 {
  font-size: var(--36-fz);
}
.service-block-1 {
  margin-top: 50px;
  gap: 47px;
}
.service-block-1 h3,
.service-block-2 h3 {
  font-size: var(--24-fz);
  font-weight: var(--fw-semibold);
}
.service-block-1 p,
.service-block-2 p {
  margin-block: 25px 20px;
  font-size: var(--20-fz);
}
.service-block-1 .btn-green,
.service-block-2 .btn-green {
  padding: 15px 70px;
  background: var(--btn-green);
}
.service-block-1 .btn-green:active,
.service-block-2 .btn-green:active {
  background: var(--btn-green-active);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
.service-block-2 {
  margin-top: 185px;
  gap: 112px;
  margin-left: 55px;
}
@media (max-width: 850px) {
  .service,
  .whatfor,
  .accelerator,
  .program,
  .partners,
  .result,
  .director,
  .program,
  .experts,
  .partners-2,
  .activities h2 {
    text-align: center;
  }
  .service h2 {
    margin-bottom: 50px;
  }
  .service-block-1,
  .service-block-2 {
    margin: 0 auto;
    width: min(562px, 100%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.whatfor {
  margin-bottom: 100px;
}
.whatfor h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  margin-bottom: 35px;
}
.whatfor .cards-inner {
  width: min(350px, 100%);
  height: 348px;
}
.cards-inner {
  padding: 0 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 30px;
}
.cards-inner span {
  display: inline-flex;
  align-items: center;
  margin-bottom: 42px;
  font-size: var(--80-fz);
  font-weight: var(--fw-extrabold);
  color: var(--h2-h3-color);
  opacity: 0.5;
}
.service-list__inner:first-child span:first-child {
  height: 90px;
}
.cards-inner div {
  text-align: center;
}
.cards-inner h4 {
  margin-bottom: 25px;
  font-size: var(--20-fz);
  font-weight: var(--fw-semibold);
}
@media (max-width: 850px) {
}

.banner {
  height: 604px;
  margin-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/webp/banner-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--base-white);
}
.banner__inner {
  padding-block: 150px 172px;
  text-align: center;
}
.banner h1 {
  font-size: var(--40-fz);
  font-weight: var(--fw-bold);
  background-color: var(--highlight-green);
}
.banner p {
  margin-top: 20px;
  font-size: var(--24-fz);
  font-weight: var(--fw-medium);
}
.banner button {
  padding: 15px 37px;
  line-height: 2.5;
}
.banner button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}

.market {
  margin-bottom: 100px;
}
.market .container {
  background: url(img/country.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.market h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  margin-top: 35px;
}
.country-list {
  width: 88%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.country-list button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  margin-block: 35px 56px;
  padding: 10px 61px;
  font-size: var(--20-fz);
  color: #484848;
  background-color: #eef1f4;
  border-left: 1px solid #cfddeb;
  border-radius: 0;
}
.country-list .button--active {
  background-color: #88bbd8;
  font-weight: var(--fw-bold);
  color: var(--base-white);
  border-radius: 5px;
}
.market-block {
  max-width: calc(1920px - (352px + 509px));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 115px;
}
.market-container-1 {
  width: min(352px, 100%);
}
.market-container-1 h3 {
  font-size: var(--32-fz);
  font-weight: var(--fw-semibold);
  color: var(--base-dark);
}
.market-container-1 span {
  color: var(--highlight-green);
}
.market-container-1 p {
  max-width: 250px;
  margin-top: 30px;
  font-size: var(--16-fz);
}
.market-container-1 button {
  font-size: var(--16-fz);
  margin-bottom: 30px;
  padding: 15px 47px;
}
.market-container-1 button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
.manager-block {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  font-size: var(--14-fz);
}
.manager-block p {
  margin-top: 10px;
}
.market-container-2 {
  flex-grow: 1;
}
.market-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* height: 200px; */
  gap: 20px;
}
.market-grid li {
  padding: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 30px;
}
.market-grid li:last-child {
  background-color: var(--h2-h3-color);
}
.market-grid li:last-child:hover {
  background: var(--highlight-green);
}
.market-grid li:last-child a {
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.market-grid li:last-child p {
  color: var(--base-white);
  opacity: 1;
}
.market-grid h5 {
  font-size: var(--48-fz);
  font-weight: var(--fw-extrabold);
  color: var(--h2-h3-color);
  opacity: 0.5;
  text-align: center;
}
.market-grid span {
  display: inline-flex;
  font-size: var(--24-fz);
  transform: translateY(-10px);
}
.market-grid p {
  font-size: var(--16-fz);
  opacity: 0.5;
}
@media (max-width: 850px) {
  .market-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .market-container-1 {
    width: 100%;
  }
  .manager-block {
    display: flex;
  }
  .country-list {
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
  }
  .country-list button {
    padding: 20px 40px;
  }
}
@media (max-width: 650px) {
  .country-list button {
    width: 100px;
    height: min(56px, 100%);
    padding: 12px 7px;
  }
}

.accelerator {
  margin-bottom: 100px;
}
.accelerator h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  margin-bottom: 20px;
}
.accelerator p {
  margin-bottom: 20px;
  font-size: var(--20-fz);
}
.accelerator-list {
  margin-bottom: 20px;
}
.accelerator-list span {
  font-size: var(--120-fz);
  background: var(--btn-blue);
  background-clip: text;
  color: transparent;
}
.accelerator-list__item {
  padding: 70px 108px;
  gap: 20px;
}
.accelerator-list__item span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-bottom: 0;
  /* gap: 20px; */
}
.video-container {
  position: relative;
  width: 100%;
  margin: 50px auto;
}
video {
  width: 100%;
  height: auto;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  transition: opacity 0.5s ease-out;
  opacity: 1;
}
.overlay.hidden {
  display: none;
}
.overlay-text {
  transform: translateY(-200%);
}
.play-button {
  position: absolute;
  top: 48.3%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  color: var(--base-white);
  font-size: 24px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background: var(--btn-blue-video);
}
.play-button:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 850px) {
  .accelerator-list__item {
    padding: 60px 62px;
  }
}

.program {
  margin-bottom: 100px;
}
.program h2 {
  margin-bottom: 10px;
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
}
.accordion-inner {
  display: inline-flex;
  gap: 20px;
  margin-bottom: 20px;
}
.accordion__item {
  padding-block: 15px 20px;
  padding-inline: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.accordion__item h3,
.program h2 {
  font-weight: var(--fw-bold);
}
.program h2 {
  font-size: var(--36-fz);
}
.accordion-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.accordion__item-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion__item-inner div {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.accordion__item h3,
.accordion__item p {
  font-size: var(--20-fz);
}
.accordion__item p {
  margin: 0;
  font-weight: var(--fw-medium);
}
.accordion__item .bx {
  display: inline-flex;
  background-color: var(--h2-h3-color);
  color: var(--base-white);
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.accordion__item.active .bx {
  transform: rotate(180deg);
}
.accordion__item .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.content div {
  padding-block: 10px 10px;
  border-bottom: 2px solid #e9e9e9;
}
.content div p {
  font-size: var(--16-fz);
  opacity: 0.5;
}
.content div:last-child {
  color: var(--h2-h3-color);
  border-bottom: 0;
  opacity: 1;
}
.content div:last-child p {
  color: var(--h2-h3-color);
  border-bottom: 0;
  opacity: 1;
}
.program button {
  font-size: var(--18-fz);
  padding: 15px 46px;
}
.program button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
@media (max-width: 850px) {
  .accordion__item {
    padding-inline: 30px;
  }
}
.partners {
  position: relative;
  margin-bottom: 100px;
  background: url(img/bg-partners.svg), var(--bg-partners-color);
  padding-block: 100px 100px;
  overflow: hidden;
}
.partners__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.partners-block-1 {
  max-width: 500px;
}
.partners-block-1 h2 {
  font-size: var(--40-fz);
  font-weight: var(--fw-bold);
  color: var(--base-white);
}
.partners-block-1 p {
  font-size: var(--18-fz);
  color: var(--base-white);
}
.partners-block-1 button {
  padding: 15px 37px;
  background-color: var(--btn-green);
}
.partners-block-2 {
  position: relative;
  overflow: visible;
}
.partners-cards {
  position: relative;
  display: grid;
  grid-template-columns: 210px 210px;
  gap: 20px;
  z-index: 1;
}
.partners-cards li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
.dots-item {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(0, -50%);
  max-width: 60%;
}
@media (max-width: 1200px) {
  .dots-item {
    right: calc(-20% + (100vw - 1200px) / 2);
  }
}
@media (max-width: 992px) {
  .partners-blocks {
    flex-direction: column;
  }

  .dots-item {
    right: -15%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .dots-item {
    right: -10%;
  }
}

.result {
  margin-bottom: 100px;
}
.result h2 {
  margin-bottom: 20px;
}
.result-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.result-list li {
  /* width: min(392px, 100%); */
  height: 348px;
  padding: 0 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 30px;
}
.result-list span {
  display: inline-flex;
  align-items: center;
  font-size: var(--80-fz);
  font-weight: var(--fw-extrabold);
  color: var(--h2-h3-color);
  opacity: 0.5;
}
.result-list div {
  text-align: center;
}
@media (max-width: 850px) {
  .result-list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.price {
  margin-bottom: 100px;
}
.price h2 {
  margin-bottom: 20px;
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
}

.price-list__item {
  padding-block: 32px 35px;
  width: min(340px, 100%);
  height: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 30px;
}
.price-block {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e3e3e3;
}
.price-block:last-child {
  border-bottom: none;
}
.price-block h3 {
  font-size: var(--20-fz);
  font-weight: var(--fw-semibold);
  color: var(--base-dark);
  margin-top: 15px;
  text-align: center;
}
.price-block p {
  margin-bottom: 10px;
}
.price-list button {
  margin-top: 20px;
  padding: 15px 80px;
  background: var(--btn-blue);
}
.price-list button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
@media (max-width: 850px) {
  .price-list {
    justify-content: center;
  }
}
.about {
  margin-bottom: 100px;
}
.about__inner {
  gap: 65px;
}
.about__inner div:first-child {
  min-width: 266px;
}
.about__inner div:last-child {
  max-width: 565px;
}
.about__inner p {
  font-size: var(--20-fz);
}
.about__inner span {
  color: #1178b2;
  font-weight: var(--fw-semibold);
}
@media (max-width: 850px) {
  .about__inner {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.director {
  margin-bottom: 100px;
}
.director h2 {
  margin-bottom: 35px;
  font-size: var(--36-fz);
  font-weight: var(--fw-semibold);
}
.director__inner {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 30px;
  border-radius: 10px;
  gap: 115px;
}
.director__content {
  padding-block: 44px 44px;
  padding-right: 47px;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.director__content div p {
  font-size: var(--14-fz);
}
.slider-photo {
  margin-bottom: 100px;
}
.slider__inner {
  overflow: hidden;
}
.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;
  justify-items: stretch;
  gap: 10px;

  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  to {
    translate: calc(-5 * 15rem);
  }
}
@media (max-width: 850px) {
  .director__inner {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 38px;
  }
  .director__content {
    padding-right: 0;
  }
  .director__content p {
    padding: 10px;
    max-width: 580px;
    text-align: center;
  }
  .director__content div:last-child {
    margin-left: 30px;
  }
}

.experts {
  margin-bottom: 100px;
}
.experts__inner {
  height: 430px;
  /* border: 1px solid red; */
}
.experts__inner h2 {
  margin-bottom: 20px;
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-horizontal {
  padding-inline: 32px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 3px !important;
  left: auto;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  top: 30% !important;
  background-color: #1178b2;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--base-white);
  font-size: 20px !important;
  font-weight: var(--fw-semibold);
}
.swiper-button-next:after {
  margin-left: 3px;
}
.experts__item {
  max-width: 230px;
  max-height: 326px;
  text-align: center;
}
@media (max-width: 850px) {
  /* .swiper {
    flex-basis: 400px;
  } */
}

.partners-2 {
  margin-bottom: 100px;
}
.partners-2 h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  margin-bottom: 20px;
}
.partners-logo__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
}
.partners-logo__inner li {
  max-width: 288px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
@media (max-width: 850px) {
  .partners-logo__inner {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
  .partners-logo__inner li {
    padding-inline: 35px;
  }
}

.banner-2 {
  margin-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/webp/banner-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 730px;
}
.banner-2 .container {
  max-width: calc(1920px - (452px * 2));
}
.banner-2__inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--base-white);
  padding-block: 131px;
  text-align: center;
}
.banner-2__inner h2 {
  color: var(--base-white);
  font-size: var(--40-fz);
  font-weight: var(--fw-bold);
}
.banner-2__inner p {
  font-size: var(--20-fz);
}
.banner-2 button {
  padding: 20px 73px;
}
.banner-2 button:active {
  background: var(--btn-active-color);
  transform: translateY(5px);
  transition: 150ms ease-in;
}
@media (max-width: 850px) {
  .banner-2 {
    height: 600px;
  }
}
.activities {
  margin-bottom: 100px;
}
.activities__inner h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  margin-bottom: 35px;
}
.activities-list li {
  max-width: 392px;
  max-height: 379px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.activities-list div {
  max-width: 279px;
  padding-left: 30px;
  padding-bottom: 35px;
}
.activities-list h5 {
  font-size: var(--20-fz);
  font-weight: var(--fw-semibold);
}
.activities-list p {
  font-size: var(--16-fz);
}
.activities-list time {
  font-size: var(--14-fz);
}
@media (max-width: 1920px) {
  .activities-list {
    flex-wrap: nowrap;
  }
}
@media (max-width: 550px) {
  .activities-list {
    flex-wrap: wrap;
  }
  .activities-list li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .activities-list div {
    max-width: 100%;
  }
}

.question {
  padding: 75px 0;
  height: 500px;
  background: url(img/bg-partners.svg), var(--bg-partners-color);
}
.question__inner {
  max-width: calc(1920px - (352px + 372px));
  gap: 132px;
}
.question-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  color: var(--base-white);
}
.question-block h2 {
  font-size: var(--36-fz);
  font-weight: var(--fw-bold);
  color: var(--base-white);
}
.question-block p {
  font-size: var(--18-fz);
}
.media-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.telegram-block,
.whatsapp-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.bg-telegram,
.bg-whatsapp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
}
.question-form {
  width: min(600px, 100%);
  max-height: 340px;
  padding: 25px 42px;
  background-color: var(--base-white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.question-form__inner {
  flex-direction: column;
  align-items: flex-start;
}
.question-form__inner input {
  width: 100%;
  padding-block: 15px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
}
.question-form__inner input::placeholder {
  font-size: var(--16-fz);
  color: #707070;
}
.question-form__inner button {
  margin-top: 35px;
  padding: 15px 43px;
  background: var(--btn-green);
}
.question-form__inner .iti {
  width: 100%;
}
.iti-mobile .iti--container {
  top: 39% !important;
  bottom: 30% !important;
  left: 52% !important;
  right: 30% !important;
  width: 40% !important;
  max-height: 200px !important;
}
.iti--separate-dial-code .iti__selected-flag {
  background: none !important;
}
.iti__flag-container {
  padding: 0 10px 0 15px;
}
@media (max-width: 850px) {
  .question {
    padding: 63px 0;
    height: 843px;
  }
  .question__inner {
    justify-content: center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
  }
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/webp/footer-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 145px;
  color: var(--base-white);
  margin: auto;
  font-size: 14px;
  overflow-y: hidden;
}
.footer .container {
  max-width: calc(1920px - (352 * 2));
}
.footer__inner {
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer-logo {
  flex-direction: column;
  gap: 10px;
}
.footer-list {
  gap: 52px;
  text-wrap: nowrap;
}
.footer-address {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-address a:last-child {
  text-decoration: underline;
}
@media (max-width: 850px) {
  .footer__inner {
    flex-wrap: wrap;
    gap: 35px;
  }
}
